* {
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
    background-color: #a06474;
    color: #fff !important;
}

.project-image:hover {
    transition: 0.7s;
    transform: scale(1.1);
}

.project {
    background-color: #f4f2ec;
    min-height: 84vh;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}

.responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    /* margin-top: 19px; */
}

.responsive-embed-youtube iframe {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
}